*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    background-position: center;
}

.cajahomero{
    background-color: yellow;
    background-image: url(../imagenes/homerito.webp);
}